<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" hraf="#">Local Library</a>
    <button class="navbar-toggier" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'book:index' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'book:bookList' %}">All books</a>
                    <a class="dropdown-item" href="#">All authors</a>
                </div>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button class="btn btn-outline-info" style="margin-right:8px;">Sign Out</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-right:8px;">Sign In</button></a>
            <a href="#"><button class="btn btn-outline-info">Sign Up</button></a>
        {% endif %}
    </div>
</nav>